body {
  padding-top: 30px;
  background: #e6e6e6;
  font-family: 'Ubuntu', sans-serif;
}
i {
  margin-left: 6px;
  margin-top: -2px;
}
.preview {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
